# 构建产物
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache

# Rider / IntelliJ
.idea/
*.iml

# NuGet
*.nupkg
packages/

# 系统
.DS_Store
Thumbs.db

# 编译测试时产生的临时文件
*.exe
*.pdb
*.obj
*.ilk
